-<div class="row">
    <div class="text-xs-center col-md-12">
         <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group has-success">
                                <input type="text" class="form-control form-control-success" id="hallTicketNoInput" #hallTicketNoInput>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success" type="button" (click)="onAddStudent()">Add</button>
                            <button class="btn btn-danger" type="button">Delete</button>
                        </div>
                    </div>
                </form>
    </div>
</div>
